# ==================================
# General / OS / Editor
# ==================================
.DS_Store
.vscode/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/

# ==================================
# Project Root Files (Arsip/Sampah)
# ==================================
arsip/
t.html
data.html
analysis/

# ==================================
# Laravel (di folder /backend)
# ==================================
backend/node_modules/
backend/public/build/
backend/public/hot
backend/public/storage
backend/storage/
!backend/storage/.gitignore
backend/vendor/
backend/.env
backend/.env.backup
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml

# ==================================
# Node.js Bot (di folder /bot)
# ==================================
bot/proxies.json
bot/node_modules/
bot/logs/
bot/screenshots/
bot/data/json/1.json
bot/data/json/2.json
bot/data/json/30.json
bot/data/json/users_war_30okt.json
bot/data/json/users.json
bot/data/csv/users.csv
bot/START.signal
bot/proxies.json
bot/active_config.json
# Jika wa-worker punya node_modules sendiri
bot/wa-worker/node_modules/
bot/wa-worker/baileys_auth_info/
